@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 200.65640258789062px;
    stroke-dasharray: 200.65640258789062px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200.65640258789062px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 200.65640258789062px;
    stroke-dasharray: 200.65640258789062px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200.65640258789062px;
  }
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 325.55010986328125px;
    stroke-dasharray: 325.55010986328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 325.55010986328125px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 325.55010986328125px;
    stroke-dasharray: 325.55010986328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 325.55010986328125px;
  }
}

@-webkit-keyframes animate-svg-fill {
  0% {
    fill: transparent;
  }

  100% {
    fill: #cc0e00;
  }
}

@keyframes animate-svg-fill {
  0% {
    fill: transparent;
  }

  100% {
    fill: #cc0e00;
  }
}

@-webkit-keyframes animate-svg-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animate-svg-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.svg-animated-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1.2s ease 0s both,
    animate-svg-fill 0.5s ease-in 1.2s both,
    animate-svg-fade 0.5s ease-in 2s both;
  animation: animate-svg-stroke-1 1.2s ease 0s both,
    animate-svg-fill 0.5s ease-in 1.2s both,
    animate-svg-fade 0.5s ease-in 2s both;
}

.svg-animated-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1.2s ease 0.1s both,
    animate-svg-fill 0.5s ease-in 1.2s both,
    animate-svg-fade 0.5s ease-in 2s both;
  animation: animate-svg-stroke-2 1.2s ease 0.1s both,
    animate-svg-fill 0.5s ease-in 1.2s both,
    animate-svg-fade 0.5s ease-in 2s both;
}
